

:root {
    --txt-color:#9E9E9E;
    --bg-purple: #600099;
}

.clr{
    color: var(--txt-color);
}
.clr1{
    color: var(--bg-purple);
}
.bg-purple{
    background-color: var(--bg-purple);
}
.bg-purple:hover{
    color: white;
    background-color: var(--bg-purple);
}